{
	"parserOptions": {
		"project": "./tsconfig.json"
	},
	"plugins": ["unicorn"],
	"extends": ["ixn"],
	"rules": {
		// "prettier/prettier": "off",

		"no-restricted-syntax": "off",
		"no-await-in-loop": "off",

		"import/no-extraneous-dependencies": [
			"error",
			{ "devDependencies": ["**/*.spec.ts", "vite.config.ts", "tests/setup.ts"] }
		],

		"no-console": "error",
		"no-underscore-dangle": "off",

		"unicorn/prefer-node-protocol": "error"
	},
	"ignorePatterns": ["dist", "scripts"]
}
